.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 34px;
    font-family: 'SFProDisplay';
}

.delete {
    color: #ee0000;
    background-color: white;
    border-radius: 4px;
    border: solid 1px #ee0000;
  }

button {
    cursor: pointer;
}

button:disabled,
button[disabled]{
    border: solid 1px #b8b8b8;;
    background-color: white;
    color: #b8b8b8;
    border-radius: 4px;
    cursor: initial;
}

.separator {
    background-color: #e5e5e5;
    border: none;
    height: 1px;
}

.table {
    width: 100%;
    display: table;
}

.theader {
    display: table-header-group;
    background-color: white;
    font-weight: bold;
}

.th{
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid #e5e5e5;
    color: #777777;
    font-size: 12px;
}

.tbody{
    display: table-row-group;
}

.tr{
    display: table-row;
}

.td{
    display: table-cell;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.14px;
    color: #333333;
}

.td.checkbox {
    width: 25px;
}

.selection:hover {
    cursor: initial;
    color: #0070c9;
}