.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save {
    color: white;
    background-color: #0070c9;
    border-radius: 4px;
    border: solid 1px #0070c9;
    margin: 12px 0 15px 220px;
    padding: 7px 22px 6px 23px;
  }

  input:focus { 
    outline: rgba(59, 153, 252, 0.5);
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.form {
    display: flex;
}

.section {
    width: 50%;
    margin-top: 0;
    padding: 7px;
}

.section label {
    display: inherit;
    padding-bottom: 5px;
}

.vertical-separator {
    border-right: 1px solid #e5e5e5;
}

label {
    font-weight: bold;
    color: #333333;
    font-size: 13px;
}

.textbox {
    font-size: 13px;
    width: 232px;
    height: 15px;
    color: #252525;
}

.radioButtonText {
    font-size: 13px;
    letter-spacing: -0.08px;
    color: #252525;
}